@model IEnumerable<Webmvc.Models.student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/js/json2.js"></script>
<script src="~/Scripts/js/json_parse.js"></script>
<script src="~/Scripts/js/cycle.js"></script>
<script src="~/Scripts/js/json_parse_state.js"></script>
<script src="Scripts/js/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<h2>Index</h2>
@*<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:52606/supervisor/Driver_List',
            type: 'POST',
            //contenttype:'application/json',
            dataType: 'jsonp',
            
            success: function (data) {
                
               
                // loop through the parsed Array Object
             
                $.each(data.output,function(index,val){
                    var driver = val.driverid + ' ' + val.name;
                    alert(driver);
                });
            },
           
        });
    });
      
       
</script>*@


   


    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button">Go!</button>

                </span>
            </div>
        </div>

    </div>


<div class="panel panel-default">
    <p>
        @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary btn-large" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })

                </td>
            </tr>
        }

    </table>


</div>

